<h1>this is a list of cool people you can learn what they look like</h1>

<% @person.each do |person| %>
  <h2><%= person.first_name  %> <%= person.last_name  %></h2>
 <%= link_to 'Show Person', person_path(person) %>
<%= link_to 'New Person', new_person_path %></p>
<%= link_to 'take a person off the list', edit_person_path(person) %>
<%= link_to 'Destroy Person', person, method: :delete %>
<% end %>
